<div class="container">
                <hr class="juli space"/>
                <span class="size-24 b t-bold">登录</span>
                <hr class="space" />

                <div class="login-bg">
                    <%= semantic_form_for @user,:url=>session_path(resource) do |f| %>
                        <div class="span-7 prepend-3 log-top">
                            <div class="b t-bold">
                              <%= f.input :email %>
                              <%= f.input :password %>

                            </div>
                            <div class="span-2 prepend-5"><span class="b"><a href=".html">忘记密码</a></span></div>

                            <hr class="space" />
                            <div class="span-2  prepend-5 last"><%=image_submit_tag "log-img1.png",:width=>"55",:height=>"24"%></div>
                        </div>
                    <%end%>

                  	<div class="span-7 prepend-3 log-top2 ">
                        <div class="size-16 b t-bold">
                        	<span>欢迎注册杰夫网站</span></span></div>
                        	<hr class="space" />
                            <div>您可以免费注册一个账号，以获取更多的便利，例如下载或浏览
        更有价值的信息，获取针对您的内容推送等。</div>
                        	<hr class="space" />
                        	<hr class="space" />
                        	<div class="span-2  last"><%=link_to (image_tag  "register-img1.png", :width=>"55",:height=>"24"), new_user_registration_path%></div>
                      	</div>                   
                    </div>


                                        <hr class="space" />
                                        <hr class="space" />
                                        <hr class="space" />
                                        <hr class="space" />
                                        <hr class="space" />
                                        <hr class="space" />
                                        <hr class="space" />
                                        <hr class="space" />
			</div>