<!--banner  start   here-->
<div class="banner-background" xmlns="http://www.w3.org/1999/html">
       	  	  	<div class="container">
              		<img src="/assets/banner-product.png" width="950" height="233">
             	</div>
		   </div>
           <div class="line"></div>
           <div class="line2"></div>
           <div class="banner-bottom-background"></div>
           <div class="line"></div>
<!--banner  end   here-->
<!--center  start   here-->
   			<div class="center-about-background">
                <div class="container">
                  
                    <hr class="space"/>
                    <div class="span-18">
                        
                        <% @articles.each do |article| %>
                            <div class="green-caption"><%= link_to article.name, article %></div>
                            <div style="padding-top:5px;">
                                <div class="span-18 caption-line"></div>
                            </div>
                            <div class="span-7 about-img">
                                <%= link_to (image_tag article.default_image, :width=>"271",:height=>"160"), article%>
                            </div>
                            <div class="span-10 last about-content">
                              <p><%=raw truncate_html article.body, :length=>60 %></p>
                            </div>
                            <p class="span-18 about-more"><%=link_to t(".more"), article %></p>
                        <% end %>
                      
                    
                	</div>


            <div class="span-6 last">
                <%= render "shared/feedback_and_search" %>
                <%= render "shared/faq" %>
            </div>
            	</div>
			</div>