<!--center  start   here-->
    <div class="buy-gradient-background"><!--渐变背景-->
			<div class="container">

                <hr class="space caption-padding-top"/>
            	<span class="big-caption"><%=  @category.name %></span>
            	<hr class="space"/>
<!--contact   start   here-->
           		<div class="span-18">

                    <div class="buy-box">
                        <div class="span-6 last">
                            <div class="contact-box-size colborder">
                                <hr class="space"/>
                                    <div class="contact-padding-left small-blue-caption">
                                        <%= t(".contact_us_online")%>
                                        <hr class="space"/>
                                        <%=image_tag "buy1.png", width:"194", height:"77"%>
                                        <hr class="space"/>
                                    </div>
                                <p class="contact-padding-left">
                                	<span class="blue-color-caption"><a href="mailto:admin@jiefu.com"><%=  t(".contact_us_online") %></a></span><br><%= t(".contact_us_online_comment")%>
                                </p>
                                <hr class="space"/>
                                <hr class="space"/>
                                <hr class="space"/>
                                <hr class="space"/>
                            </div>
                        </div>

                        <div class="span-6 last">
                            <div class="contact-box-size colborder">
                                <hr class="space"/>
                                    <div class="contact-padding-left small-blue-caption">
                                        <%= @local_article.name %>
                                        <hr class="space"/>
                                        <%=image_tag "buy2.png", width:"194", height:"77"%>
                                        <hr class="space"/>
                                    </div>
                                <p class="contact-padding-left">
                                	<span class="blue-color-caption"><%= link_to t(".buy_locally"), buy_articles_path(:anchor=>"buy_locally")%></span><br>
                                    <%= t(".buy_locally_comment")%><br><br>
                                    <span class="blue-color-caption"><%= t(".customer_support")%></span><br>
                                    <%= t(".customer_support_information")%><br>
                                </p>
                            </div>
                        </div>

                        <div class="span-6 last">
                            <div class="contact-box-size">
                                <hr class="space"/>
                                    <div class="contact-padding-left small-blue-caption">
                                        <%= @overseas_article.name %>
                                        <hr class="space"/>
                                        <%=image_tag "buy3.png", width:"194", height:"77"%>
                                        <hr class="space"/>
                                    </div>
                                <p class="contact-padding-left">
                                	<span class="blue-color-caption"><%= link_to t(".buy_overseas"), buy_articles_path(:anchor=>"buy_overseas")%></span><br>
                                    <%= t(".buy_overseas_comment")%><br><br>
                                    <span class="blue-color-caption"><%= t(".customer_support")%></span><br>
                                  <%= t(".customer_support_information")%><br>
                                </p>
                            </div>
                        </div>
                    </div>
<!--contact   end   here-->
<!--中国地图   start   here-->
                     <!--引用百度地图API-->
                     <style type="text/css">

                         .iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
                         .iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}
                     </style>
                     <script type="text/javascript" src="http://api.map.baidu.com/api?key=&v=1.1&services=true"></script>

                     <hr class="space"/>
                     <a name="buy_locally"><span class="blue-caption"><%= t(".jiefu_china")%></span></a>
                    <hr class="space"/>
                    <hr class="map-line"/>
                        <div>
                          <p >
                            <%= t(".contact_info_locally").html_safe %>
                          </p>
                        </div>
                     <div style="width:719px;height:229px;border:#ccc solid 1px;" id="dituContent"></div>
                     <script type="text/javascript">
                         //创建和初始化地图函数：
                         function initMap(){
                             createMap();//创建地图
                             setMapEvent();//设置地图事件
                             addMapControl();//向地图添加控件
                             addMarker();//向地图中添加marker
                         }

                         //创建地图函数：
                         function createMap(){
                             var map = new BMap.Map("dituContent");//在百度地图容器中创建一个地图
                             var point = new BMap.Point(120.396742,31.655549);//定义一个中心点坐标
                             map.centerAndZoom(point,15);//设定地图的中心点和坐标并将地图显示在地图容器中
                             window.map = map;//将map变量存储在全局
                         }

                         //地图事件设置函数：
                         function setMapEvent(){
                             map.enableDragging();//启用地图拖拽事件，默认启用(可不写)
                             map.enableScrollWheelZoom();//启用地图滚轮放大缩小
                             map.enableDoubleClickZoom();//启用鼠标双击放大，默认启用(可不写)
                             map.enableKeyboard();//启用键盘上下左右键移动地图
                         }

                         //地图控件添加函数：
                         function addMapControl(){
                             //向地图中添加缩放控件
                             var ctrl_nav = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
                             map.addControl(ctrl_nav);
                             //向地图中添加缩略图控件
                             var ctrl_ove = new BMap.OverviewMapControl({anchor:BMAP_ANCHOR_BOTTOM_RIGHT,isOpen:1});
                             map.addControl(ctrl_ove);
                             //向地图中添加比例尺控件
                             var ctrl_sca = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
                             map.addControl(ctrl_sca);
                         }

                         //标注点数组
                         var markerArr = [{title:"杰夫中国",content:"地址：中国江苏省无锡市锡山区八士经济开发区<br/>邮编：214192<br/>电话：+86&nbsp;(0)510&nbsp;83781398<br/>传真：+86&nbsp;(0)510&nbsp;83782499<br/>联系人:陈兰兰",point:"120.391316|31.653643",isOpen:0,icon:{w:23,h:25,l:23,t:21,x:9,lb:12}}
                         ];
                         //创建marker
                         function addMarker(){
                             for(var i=0;i<markerArr.length;i++){
                                 var json = markerArr[i];
                                 var p0 = json.point.split("|")[0];
                                 var p1 = json.point.split("|")[1];
                                 var point = new BMap.Point(p0,p1);
                                 var iconImg = createIcon(json.icon);
                                 var marker = new BMap.Marker(point,{icon:iconImg});
                                 var iw = createInfoWindow(i);
                                 var label = new BMap.Label(json.title,{"offset":new BMap.Size(json.icon.lb-json.icon.x+10,-20)});
                                 marker.setLabel(label);
                                 map.addOverlay(marker);
                                 label.setStyle({
                                     borderColor:"#808080",
                                     color:"#333",
                                     cursor:"pointer"
                                 });

                                 (function(){
                                     var index = i;
                                     var _iw = createInfoWindow(i);
                                     var _marker = marker;
                                     _marker.addEventListener("click",function(){
                                         this.openInfoWindow(_iw);
                                     });
                                     _iw.addEventListener("open",function(){
                                         _marker.getLabel().hide();
                                     })
                                     _iw.addEventListener("close",function(){
                                         _marker.getLabel().show();
                                     })
                                     label.addEventListener("click",function(){
                                         _marker.openInfoWindow(_iw);
                                     })
                                     if(!!json.isOpen){
                                         label.hide();
                                         _marker.openInfoWindow(_iw);
                                     }
                                 })()
                             }
                         }
                         //创建InfoWindow
                         function createInfoWindow(i){
                             var json = markerArr[i];
                             var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>"+json.content+"</div>");
                             return iw;
                         }
                         //创建一个Icon
                         function createIcon(json){
                             var icon = new BMap.Icon("http://dev.baidu.com/wiki/static/map/API/img/ico-marker.gif", new BMap.Size(json.w,json.h),{imageOffset: new BMap.Size(-json.l,-json.t),infoWindowOffset:new BMap.Size(json.lb+5,1),offset:new BMap.Size(json.x,json.h)})
                             return icon;
                         }

                         initMap();//创建和初始化地图
                     </script>
                 	<hr class="space"/>
<!--海外地图   start   here-->
                    <a name="buy_overseas"><span class="blue-caption"><%= t(".jiefu_overseas")%></span></a>
                    <hr class="space"/>
					<hr class="map-line"/>
                     <div>
                       <p>
                         <%= t(".contact_info_overseas").html_safe %>
                       </p>
                     </div>
                     <iframe width="719" height="229" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=zh-CN&amp;geocode=&amp;q=%E9%9F%A9%E5%9B%BD%E5%BA%86%E5%B0%9A%E5%8C%97%E9%81%93%E9%BE%9F%E5%B0%BE%E5%B8%82%E5%B7%A5%E5%9B%A2%E6%B4%9E196%E7%95%AA%E5%9C%B0+&amp;aq=&amp;sll=30.925789,121.879578&amp;sspn=1.873031,3.56781&amp;brcurrent=3,0x31508e64e5c642c1:0x951daa7c349f366f,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E5%B7%A5%E5%9B%A2%E6%B4%9E196%E7%95%AA%E5%9C%B0&amp;hnear=%E9%9F%A9%E5%9B%BD%E5%BA%86%E5%B0%9A%E5%8C%97%E9%81%93%E9%BE%9F%E5%B0%BE&amp;t=m&amp;ll=35.88964,127.737248&amp;spn=0.505659,1.336116&amp;output=embed"></iframe><br /><small><a href="http://ditu.google.cn/maps?f=q&amp;source=embed&amp;hl=zh-CN&amp;geocode=&amp;q=%E9%9F%A9%E5%9B%BD%E5%BA%86%E5%B0%9A%E5%8C%97%E9%81%93%E9%BE%9F%E5%B0%BE%E5%B8%82%E5%B7%A5%E5%9B%A2%E6%B4%9E196%E7%95%AA%E5%9C%B0+&amp;aq=&amp;sll=30.925789,121.879578&amp;sspn=1.873031,3.56781&amp;brcurrent=3,0x31508e64e5c642c1:0x951daa7c349f366f,0%3B5,0,0&amp;ie=UTF8&amp;hq=%E5%B7%A5%E5%9B%A2%E6%B4%9E196%E7%95%AA%E5%9C%B0&amp;hnear=%E9%9F%A9%E5%9B%BD%E5%BA%86%E5%B0%9A%E5%8C%97%E9%81%93%E9%BE%9F%E5%B0%BE&amp;t=m&amp;ll=35.88964,127.737248&amp;spn=0.505659,1.336116" style="color:#0000FF;text-align:left"><%= t(".view_larger_map")%></a></small>
					    <hr class="space"/>
            			<hr class="space"/>
            	</div>

            <!--框框右侧   start   here-->
            <!--右边框框 5 开始-->
            	<div class="span-5 last right-box-padding">
        	<!--右边框框 5 结束-->

            <%= render "shared/feedback_and_search" %>
				</div>
          </div>
   </div>