<!--center start   here-->
<div class="top-backgound">
  <div class="container">
    <!--产品目录开始-->
    <div class="middle-blue-caption right-nav-top">
      <% if @support_categories.include?(@category) %>
          <%= I18n.t("layouts.application.support") %>
      <% else %>
          <%= @category.name %>
      <% end %>
      
    </div>
    <div class="span-5 last right-nav-top">

      <hr class="nav-list-line"/>
      <% if @support_categories.include?(@category) %>
          <% @support_categories.each do |object| %>
                        <div class="three-caption"><%=link_to object.name, object %></div>
                        <hr class="nav-list-line"/>
                    <% end %>
      <% else %>
          <% Article.where(:category_id => @category).each do |article| %>
              <div class="three-caption"><%=link_to article.name, article %></div>
              <hr class="nav-list-line"/>
          <% end %>
      <% end %>
      
    </div>

    <!--内容开始-->
    <div class="span-13 last speaker">
      <p class="middle-green-caption"><%= @article.name %></p>

      <div class="span-12">
        <%= @article.body.html_safe %>
      </div>

      <hr class="line-last"/>
      <div class="look">无论您来自何方,我们都将竭诚为您提供优秀的产品和满意的服务。</div>
      <hr class="line-last"/>
      <hr class="space"/>
      <hr class="space"/>
    </div>
    <!--内容结束-->

    <div class="span-6 last">
        <%= render "shared/feedback_and_search" %>
        <%= render "shared/faq" %>
    </div>
    <!--右边框框 3 结束-->
  </div>
</div>