<!--center  start   here-->
<div class="gradient-background" xmlns="http://www.w3.org/1999/html"><!--渐变背景-->
  <div class="container">

    <hr class="space caption-padding-top"/>
    <span class="big-caption"><%= I18n.t("layouts.application.support")%></span>
    <hr class="space"/>
    <!--search-box  start   here-->
    <div class="span-24 last search-box">
      <div class="span-24 box-padding-left">
        <div class="span-24">
            <%= form_for @search, :url => search_products_path, :html => {:method => :get} do |f| %>
                <%= f.label :category_id_eq, t(".category_id_eq") %>
                <%= f.collection_select :category_id_eq,ProductCategory.where(:parent_id => nil),:id,:name  %>

                <br/>
                <%= f.label :length_greater_than, t(".width")  %>
                <%= f.text_field :length_greater_than, :size=>"10" %> - <%= f.text_field :length_less_than, :size=>"10"%><br/>
                <%= f.label :width_greater_than, t(".length") %>
                <%= f.text_field :width_greater_than, :size=>"10" %> - <%= f.text_field :width_less_than, :size=>"10"%><br/>
                <%= f.label :height_greater_than, t(".height") %>
                <%= f.text_field :height_greater_than, :size=>"10" %> - <%= f.text_field :height_less_than, :size=>"10"%><br/>
                <!-- etc... -->
                <hr class="space"/>
                <%= f.submit t(".search"), :class=>"green_button" %>
            <% end %>
        </div>
      </div>
    </div>
    <!--search-box  start   here-->

    <%= render "shared/online_feedback" %>

    <!--问答  start   here-->
    <script>
        $(document).ready(function () {
            $("#tabs").tabs();
        });
    </script>

    <hr class="space"/>
    <div>
      <a name="faq"><span class="blue-caption"><%= I18n.t("layouts.application.faq")%></span></a><%= image_tag "wenda.png", width:"42", height:"27" %>
    </div>
    <hr class="space"/>
    <hr/>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet"
          type="text/css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <div id="tabs" class="span-24">
      <ul>
        <% @faq_categories.each do |category| %>
            <li><a href="#fragment-<%= category.id %>"><span><%= category.name %></span></a></li>

        <% end %>
      </ul>
      <% @faq_categories.each do |category| %>
          <div id="fragment-<%= category.id %>">
            <% faqs = Faq.where(:category_id => category.id); faqs.each do |faq| %>
                <div class="small-blue-caption span-22 last"><%= faq.name %></div>

                <div class="answer-padding-left span-22">

                  <%= faq.body.to_s.html_safe %>
                </div>
            <% end %>


          </div>
      <% end %>

    </div>
    <!--问答  end   here-->

  </div>
</div>
<!--center  end   here-->