<!--center  start   here-->
    <div class="gradient-background"><!--渐变背景-->
			<div class="container">

        		<hr class="space caption-padding-top"/>
            	<span class="big-caption">技术支持</span>
            	<hr class="space"/>
			<!--search-box  start   here-->
              <%= form_tag "/products/search", :method=>:get do |f|%>
                <div class="span-24 last search-box">
                    <div class="span-18 box-padding-left">
                       <%= text_field_tag "q", "", :class=>"search-box-size"%>
                       <input type="submit" class="search-button" value="搜索">
                    </div>
                </div>
              <% end %>
			<!--search-box  start   here-->

			<!--Online   start   here-->
                <hr class="space"/>
                <div>
                	<span class="blue-caption">Online反馈</span><%=image_tag "jichu.png", width:"42", height:"27"%>
                </div>
                <hr class="space"/>
                <div class="span-24 online-box">
                	<div class="online-padding-left">
                        <div class="span-10">
                            <span class="small-blue-caption">基本资料:</span>
                            <hr class="space"/>
                            <hr/>
                            <form class="span-8 content-align" action="" method="post">
                                    <span>姓名：</span>
                                    <input type="text" class="base" id="name" name="dummy1" ><br>
                                    <span>单位名称：</span>
                                    <input type="text" class="base" id="name" name="dummy1" ><br>
                                    <span>部门：</span>
                                    <input type="text" class="base" id="name" name="dummy1" ><br>
                                    <span>电话：</span>
                                    <input type="text" class="base" id="name" name="dummy1" ><br>
                                    <span>传真：</span>
                                    <input type="text" class="base" id="name" name="dummy1" ><br>
                                    <span>E-mail：</span>
                                    <input type="text" class="base" id="name" name="dummy1" ><br>
                            </form>

                            <hr class="space"/>
                            <p class="small-blue-caption">反馈内容:</p>
                            <hr/>
                                <p>
                                    <input type="checkbox"> 品质
                                    <input type="checkbox"> 服务
                                    <input type="checkbox"> 其他
                                </p>
                            <hr class="space"/>
                            <span class="blue-color-caption">*我们将在2个工作日之内给您答复。为确保您能收到我们的回复，请务必正确及有效的填写上述内容。</span>
                        </div>
                    </div>

                	<div class="span-10 prepend-3">
                    	<span class="small-blue-caption">产品信息:</span>
                        <hr class="space"/>
                        <hr/>
                        <form class="span-8 content-align" action="" method="post">
                                <span>杰夫型号：</span>
                                <input type="text" class="base" id="name" name="dummy1"><br>
                                <span>杰夫生产批号：</span>
                                <input type="text" class="base" id="name" name="dummy1"><br>
                                <span>贵公司型号：</span>
                                <input type="text" class="base" id="name" name="dummy1"><br>
                                <span>贵公司订单号：</span>
                                <input type="text" class="base" id="name" name="dummy1"><br>
                        </form>
                        <hr class="space"/>

                    	<span class="small-blue-caption">具体描述:</span>
                    	<hr class="space"/>
                  		<hr/>
                 		<textarea name="dummy2" id="textarea-size" rows="5" cols="20"></textarea>

                        <div class="span-2 prepend-5">
                        	<a href="#"><img src="img/submit.png" width="55" height="24"></a><img src="img/submit2.png" width="55" height="12">
                        </div>
                        <div class="span-2">
                        	<a href="#"><img src="img/reset.png" width="55" height="24"></a><img src="img/reset2.png" width="55" height="12">
                        </div>
                	</div>
                </div>
             <!--问答  start   here-->
                <hr class="space"/>
                <div>
                	<span class="blue-caption">常见问答/向专家提问</span><%=image_tag "wenda.png", width:"42", height:"27"%>
                </div>
				<hr class="space"/>
                <hr/>

                <div class="span-24">
                    <% @faqs.each do |faq| %>
                    <span class="small-blue-caption">Q：<%=faq.name%></span>
                        <p class="answer-padding-left">
                        	<span class="small-green-caption">A：</span><%=  faq.body.html_safe %>
                        </p>
                    <% end %>

               <!--翻页   start   here-->
    				<p class="nav-ye"> <%= paginate @faqs %></p>

    				<div class="span-2 small-blue-caption">我要提问:</div>
                   	 	<div>
                        	<textarea name="dummy2" id="textarea-size" rows="5" cols="20"></textarea>
                        </div>
                        <div class="span-2 prepend-8">
                        	<a href="#"><img src="img/submit.png" width="55" height="24"></a><img src="img/submit2.png" width="55" height="12">
                        </div>
                        <div class="span-2">
                        	<a href="#"><img src="img/reset.png" width="55" height="24"></a><img src="img/reset2.png" width="55" height="12">
                        </div>
                    <hr/>
                </div>



            </div>
    </div>
<!--center  end   here-->