<!--banner  start   here-->
          <div class="banner">
       	  	  <div class="container showgrid"> <div id="wrapper">
        <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                  <%= image_tag "banner/images/banner.png" %>
                  <%= image_tag "banner/images/banner2.png" %>
                  <%= image_tag "banner/images/banner3.png" %>
                  <%= image_tag "banner/images/banner4.png" %>

            </div>
        </div>

    </div></div>
          </div>
           <div class="line"></div>
           <div class="line2"></div>
           <!--news  start   here-->
           <div class="news">
                <div class="container ju"><span class="news-bt">新闻：</span><span class="news-nei">杰夫发布业界首款Giga DSL样机</span></div>
           </div>


   		<div class="center">
        <div class="container ">
        <hr class=" space"/>
        <!--chanpin1  start  here-->
        	<div class="span-8 chanpin1bg">
            	<div class=" neibianju">
                  <div class="white">
                    <div class="neibianju">
                        <div class="chanpin1">
                          <div class="span-3 last"><p><span class="chanpin-bt">扬声器</span></p>
                            <ul class="list">
                                <li><a href="#">彩电扬声器</a></li>
                                <li><a href="#">音响扬声器</a></li>
                                <li><a href="#">汽车扬声器</a></li>
                                <li><a href="#">通讯扬声器</a></li></ul>
                          </div>
                          <div class="tu1"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>
           <!--chanpin2  start  here-->
        	<div class="span-8 chanpin1bg">
            	<div class=" neibianju">
                  <div class="white">
                    <div class="neibianju">
                        <div class="chanpin1">
                          <div class="span-4 last"><p><span class="chanpin-bt">影响系统</span></p>
                            <ul class="list">
                                <li><a href="#">家庭影院音箱</a></li>
                                <li><a href="#">高保真音箱</a></li>
                                <li><a href="#">多媒体音箱</a></li>
                                <li><a href="#">沙滩音箱</a></li></ul>
                          </div>
                          <div class="tu1"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>
            <!--chanpin3  start  here-->
        	<div class="span-8 chanpin1bg  last">
            	<div class=" neibianju">
                  <div class="white">
                    <div class="neibianju">
                        <div class="chanpin1">
                          <div class="span-3 last"><p><span class="chanpin-bt">电器设备</span></p>
                            <ul class="list">
                                <li><a href="#">功率放大器</a></li>
                                <li><a href="#">新产品</a></li></ul>
                          </div>
                          <div class="tu1"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>
           <hr class=" space"/>

           <!--如何购买  start  here-->
        	<div class="span-8 chanpin1bg">
            	<div class=" neibianju">
                  <div class="white">
                    <div class="neibianju">
                        <div class="chanpin1">
                          <div class="span-4 last"><p><span class="chanpin-bt">如何购买</span></p>
                            <p class="span-4 neirong">帮助客户实现商业成功，才是真正的成功。让你轻松购买，无后顾之忧。</p>
                            <p class="more"><a href="#">more>></a></p>
                          </div>
                          <div class="tu1"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>
           <!--演讲与讨论  start  here-->
        	<div class="span-8 chanpin1bg">
            	<div class=" neibianju">
                  <div class="white">
                    <div class="neibianju">
                        <div class="chanpin1">
                          <div class="span-4 last"><p><span class="chanpin-bt">演讲与讨论</span></p>
                            <p class="span-4 neirong">帮助客户实现商业成功，才是真正的成功。让你轻松购买，无后顾之忧。</p>
                            <p class="more"><a href="#">more>></a></p>
                          </div>
                          <div class="tu1"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>
            <!--公司活动  start  here-->
        	<div class="span-8 chanpin1bg  last">
            	<div class=" neibianju">
                  <div class="white">
                    <div class="neibianju">
                        <div class="chanpin1">
                          <div class="span-4 last"><p><span class="chanpin-bt">公司活动</span></p>
                            <p class="span-4 neirong">帮助客户实现商业成功，才是真正的成功。让你轻松购买，无后顾之忧。</p>
                            <p class="more"><a href="#">more>></a></p>
                          </div>
                          <div class="tu1"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>


        </div>
        </div>