<!--banner  start   here-->
          <div class="banner">
       	  	  <div class="container"> <div id="wrapper">
        <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                  <%= image_tag "banner/images/banner.png" %>
                  <%= image_tag "banner/images/banner2.png" %>
                  <%= image_tag "banner/images/banner3.png" %>
                  <%= image_tag "banner/images/banner4.png" %>

            </div>
        </div>

    </div></div>
          </div>
           <div class="line"></div>
           <div class="line2"></div>
           <!--news  start   here-->
           <div class="news-bg">
                <div class="container ju"><span class="small-blue-caption">新闻：</span><span>杰夫发布业界首款Giga DSL样机</span></div>
           </div>


   		<div class="center">
        <div class="container">
        <hr class="space"/>
        <!--chanpin1  start  here-->

          <div class="span-8 chanpin1bg">
            	<div class="pad-nei">
                  <div class="white">
                    <div class="pad-nei">
                        <div class="chanpin1">
                          <div class="span-4 last"><p><span class="title-index"><%=t(".newest")%></span></p>
                            <ul class="list">
                              <% @products.each do |product| %>
                                <li><%= product.name %></li>
                              <% end %>
                            </ul>
                          </div>
                          <div class="r"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>


          <% @categories.each_with_index do |category, index| %>
        	<div class="span-8 chanpin1bg <%= 'last' if index==@categories.size-2 %>">
            	<div class="pad-nei">
                  <div class="white">
                    <div class="pad-nei">
                        <div class="chanpin1">
                          <div class="span-4 last"><p><span class="title-index"><%=category.name%></span></p>
                            <ul class="list">
                              <% category.children.each do |sub_category| %>
                                <li><a href="#"><%=sub_category.name%></a></li>

                              <% end %>
                            </ul>
                          </div>
                          <div class="r"><%=image_tag "chanpin2.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>
             <%if  index==@categories.size-2%>
                <hr class=" space"/>
              <% end %>
          <% end %>

           <!--演讲与讨论  start  here-->
        	<div class="span-8 chanpin1bg">
            	<div class="pad-nei">
                  <div class="white">
                    <div class="pad-nei">
                        <div class="chanpin1">
                          <div class="span-4 last"><p><span class="title-index">演讲与讨论</span></p>
                            <p class="span-4 neirong">帮助客户实现商业成功，才是真正的成功。让你轻松购买，无后顾之忧。</p>
                            <p class="more-index"><a href="#">more>></a></p>
                          </div>
                          <div class="r"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>
            <!--公司活动  start  here-->
        	<div class="span-8 chanpin1bg last">
            	<div class="pad-nei">
                  <div class="white">
                    <div class="pad-nei">
                        <div class="chanpin1">
                          <div class="span-4 last"><p><span class="title-index">公司活动</span></p>
                            <p class="span-4 neirong">帮助客户实现商业成功，才是真正的成功。让你轻松购买，无后顾之忧。</p>
                            <p class="more-index"><a href="#">more>></a></p>
                          </div>
                          <div class="r"><%=image_tag "chanpin1.png", :width=>"120",:height=>"132"%></div>
                        </div>
                    </div>
                 </div>
               </div>
            </div>


        </div>
        </div>