<!--产品  start   here-->
           <div class="jianbian">
           <div class="container">
           <p class="mulu b t-bold size-14">产品目录</p>
           </div>
           </div> 
        
        
           <div class="container">
           <!--产品目录开始-->
           <div class="span-5 xian-ju last">
                <% ProductCategory.where(:parent_id=>nil).each do |category| %>
                    <hr class="lit-line"/>
                    <div class="three-bt"><%=link_to category.name, category %></div>

                <% end %>

                <hr class="lit-line"/>
           </div>
    		<!--产品开始-->
        		<div class="span-13 speaker last">
                <p class="middle-green-caption"><%= @product_category.name %></p>
                <% @products.each do |product| %>
                <div class="span-5 last">
                	<%=link_to image_tag((product.image? ?  product.image : "tese-1.png"),:width=>"150",:height=>"143"), product%>
                </div>
                <div class="span-8 last">
                      <table>
                                                        	<tr>
                                                            	<td colspan="2" class="t-bold"><%= link_to product.name, product %></td>
                                                            </tr>
                                                            <tr>
                                                            	<td class="span-2 last t-bold">系列类型：</td>
                                                                <td><%= product.category.name %> </td>
                                                            </tr>
                                                            <tr>
                                                            	<td class="span-2 last t-bold">外形尺寸：</td>
                                                                <td><%= product.length %>×<%= product.width %>×<%= product.height %></td>
                                                            </tr>
                                                            <tr>
                                                            	<td class="span-2 last t-bold">额定功率：</td>
                                                                <td><%= product.rated_power %></td>
                                                            </tr>
                                                            <tr>
                                                            	<td class="span-2 last t-bold">额定阻抗：</td>
                                                                <td><%= product.rated_impedance%> </td>
                                                            </tr>
                                                            <tr>
                                                            	<td class="span-2 last t-bold">FO：</td>
                                                                <td><%= product.fo%></td>
                                                            </tr>
                                                            <tr>
                                                            	<td class="span-2 last t-bold">灵敏度：</td>
                                                                <td><%= product.response_rate%></td>
                                                            </tr>
                                                            <tr>
                                                            	<td class="span-2 last t-bold">频响范围：</td>
                                                                <td><%= product.frequency_response_range%></td>
                                                            </tr>
                                                        </table>
                  </div>
                                    					  <div class="span-10 all last">
                                                        	<%= link_to "了解更多",product %>
                                                        </div>
                                                        <div class="span-3 all last"><a href="#">反馈信息</a>
                                                        </div>
                <hr class="space"/>
                <% end %>

                <hr/>
                <div class="r">
                	<p class="nav-ye">
                    	<%= paginate @products %>
                    </p>
                </div>
            
          </div>
        
          <%= render "shared/feedback_and_search" %>
          <%= render "shared/buy" %>
        </div>
        </div>
