<div class="jianbian">
           <div class="container">
           <p class="y-bt blue-caption"><%= @product_category.name %></p>
           </div>
           </div>


   		<div class="center-product">
        <div class="container">
        <!--产品目录开始-->
        <hr class=" space"/>
        <div class="span-18 productlist">

        	<div class="xia"><hr class="line-abt span-18"/></div>


        		<div class="span-18 speaker">
                    <% children = @product_category.children.limit(4);children.each_with_index do |sub_category,index| %>
                        <div class="span-4 <%= 'last' if index == children.size - 1%>">
                            <div class="tv">
                            <%= link_to (image_tag sub_category.image_url, :width=>"134",:height=>"135"), sub_category %>
                            <p class="lit"><%=link_to sub_category.name, sub_category %></p>
                            </div>
                        </div>


                   <% end %>


                    <p class="span-17 all"></p>
                </div>
                <div class="xia"><hr class="line-abt span-18 "/></div>

                <hr class="space"/>
    			<div class="span-15">
                	<p class="blue-caption"><%= t("special_products")%></p>
                </div>
                <div class="span-3 last">
                	<p class="jianbian-bt-quan"></p>
                </div>

                <%= render @products.where(:featured=>true)%>

                <hr/>
                <div class="right"><%= paginate @products.where(:featured=>true) %>
                </div>

          </div>

          <%= render "shared/feedback_and_search" %>
          <%= render "shared/buy" %>
        </div>
        </div>