<!--产品  start   here-->
           <div class="jianbian">
           <div class="container">
           <p class="mulu b t-bold size-14"><%= I18n.t("products.index.product_catalog")%></p>
           </div>
           </div> 
        
        
           <div class="container">
           <!--产品目录开始-->
           <div class="span-5 xian-ju last">
                <% ProductCategory.where(:parent_id=>nil).each do |category| %>
                    <hr class="lit-line"/>
                    <div class="three-bt"><%=link_to category.name, category %></div>

                <% end %>

                <hr class="lit-line"/>
           </div>
    		<!--产品开始-->
        		<div class="span-13 speaker last">

                <div class="middle-green-caption top_bottom"><%= @product_category.name %></div>
                <div class="prepend-9">
                  <div class="span-3 green_sorting"><%= sort_link @search, :rated_power %></div>
                </div>
                <%= render @products%>

                <hr/>
                <div class="r">
                	<p class="nav-ye">
                    	<%= paginate @products %>
                    </p>
                </div>
            
          </div>
          <div class="span-6 last">
            <%= render "shared/feedback_and_search" %>
            <%= render "shared/buy" %>
          </div>
        </div>
        </div>
