<div style="width:100%">
<div class="span-4" style="float:left;">
                        <%=image_tag product.default_image,  :width=>"150",:height=>"143"%>
                    </div>
                    <div class="span-8 last">
                              	<table>
                                  	<tr>
                                      	<td colspan="2" class="t-bold"><%= link_to product.name, product %></td>
                                      </tr>
                                      <tr>
                                      	<td class="span-４ last t-bold"><%= t(".type_of_system")%></td>
                                          <td><%= product.category.name %> </td>
                                      </tr>
                                      <tr>
                                      	<td class="span-４ last t-bold"><%= t(".size")%></td>
                                          <td><%= product.length %>×<%= product.width %>×<%= product.height %></td>
                                      </tr>
                                      <tr>
                                        <td class="span-４ last t-bold"><%= t(".rated_impedance")%>（Ω）</td>
                                          <td><%= product.rated_impedance%> </td>
                                      </tr>
                                      <tr>
                                        <td class="span-４ last t-bold">FO（Hz）：</td>
                                          <td><%= product.fo%></td>
                                      </tr>
                                      <tr>
                                      	<td class="span-４ last t-bold"><%= t(".rated_power")%>（W）：</td>
                                          <td><%= product.rated_power %></td>
                                      </tr>
                                      <tr>
                                      	<td class="span-４ last t-bold"><%= t(".sensitivity")%>（dB）：</td>
                                          <td><%= product.response_rate%></td>
                                      </tr>
                                      <tr>
                                      	<td class="span-４ last t-bold"><%= t(".frequency_response_range")%></td>
                                          <td><%= product.frequency_response_range%></td>
                                      </tr>
                                  </table>
                    </div>

                      <div class="span-12">
                        <div class="span-9 all last">
                          <%= link_to t("know_more"), product %>
                        </div>
                        <script>
                            $(function() {
                                $( "#online_feedback" ).dialog({
                                			autoOpen: false,
                                            width: 1000,
                                            modal:true,
                                            buttons:{'<%=t("cancel")%>': function() {
                                            					$( this ).dialog( "close" );
                                            				}}
                                });
                               $(".feedback_link").click(function() {
                                            //$( "#online_feedback" ).dialog({position:[0,0]});
                                            $( "#online_feedback" ).dialog("open");
                               			});


                            })
                        </script>
                        <div class="span-3 all last">
                          <a href="#" class="feedback_link"><%= t("feedback")%></a>
                        </div>
                      </div>
                      
                    <hr class="space"/>
</div>
