<!--banner  start   here-->
          <div class="banner-product">
       	  	  <div class="container "><%= image_tag "banner-product.png", width:"950", height:"233" %>
            </div>
            </div>


           <div class="line"></div>
           <div class="line2"></div>
           <!--news  start   here-->
           <div class="news">
                <div class="container ju"><span class="news-bt">新闻：</span><span class="news-nei">杰夫发布业界首款Giga DSL样机</span></div>
           </div> 
           <div class="line"></div>
        
        
   		<div class="center-product">
        <div class="container ">
        <!--产品目录开始-->
        <hr class=" space"/>
        <div class="productlist  span-18">
        	<p class="p-bt">产品目录</p>
        	<hr class="line-bt"/>
               <% @categories.each do |category| %>
                <div ><p class="product1">扬声器</p></div>
                
        		<div class="span-17 yangshengqi">

                    <% children = category.children; children.each_with_index do |sub_category, index| %>
                        <div class="span-4">
                        <div class=" caidian <%= index == children.size-1 ? 'last': 'colborder' %> ">
                        <%= image_tag "caidian.png", width:"134", height:"135"%>
                        <p class="lit">彩电扬声器</p>
                        </div>
                        </div>
                    <% end %>
                    
                    <hr class=" span-<%= 4 * children.size %>"/>
                </div>
              <% end %>
                
                <!--产品目录结束-->
                
               <!--杰夫实验开始--> 
               <p class="p-bt">杰夫实验室</p> 
               <hr class="line-bt"/>
               <div ><p class="product1">测试项目</p></div>
               <div class="span-16">
                		<ul>
                                <li><a href="#">与南京大学声学研究所联合研发之国家专利产品</a></li>
                                <li><a href="#">符合GB、IEC、EIA、DIN、JIS、IHF等多种标准规范</a></li>
                                <li><a href="#">可进行最大噪声功率试验、长期最大功率试验、短期最大功率试验、额定最大正弦功率试验、最优功率标称试验，并可由用户自定义通断时间进</a></li>
                                <li><a href="#">提供各种频段的白噪声信号、粉红噪声信号、模拟节目信号，各种频率的正弦波锯齿波、各种频率和占空比的方波、三角波，以及符合行业标准的信号源</a></li>
                                </ul>
                         <p  class="more-product"><a href="#">more>></a></p>
               		
               </div>
               <!--杰夫实验结束-->
            </div>
        	
        <!--右边框框 1 开始-->    
            <div class=" span-6  last ">
                <div class="online"><%=image_tag "tubiao1.png", width:"47", height:"34" %><span id="right-bt">Online反馈</span>
                    
                <hr class="heng"/>
                
                 <div class="online-img"><center><a  href="#"><%=image_tag "ontu.png", width:"194", height:"77"%></a></center></div>
                 </div>
            </div>
        <!--右边框框 1 结束-->  
        
        <!--右边框框 2 开始-->    
        	<div class=" span-6  last ">
              <div class="second">
                <div class="go"><%=image_tag "tubiao2.png", width:"47", height:"34" %><span id="right-bt">搜索</span>
                    
                <hr class="heng"/>
                
                 <div class="online-img"><center>
                 <span>产品型号：</span>
			     <input type="text" class="ssk" id="name" name="dummy1" >
                 </center>
                 <span style="padding-left:170px;"><a  href="#"><%=image_tag "go.png", width:"32", height:"17" %></a></span>
                 </div>
                 </div>
                 </div>
            </div>
            
        <!--右边框框 2 结束-->  
        
        <!--右边框框 3 开始-->    
        	<div class=" span-6  last ">
              <div class="second">
                <div class="buy"><%=image_tag "tubiao3.png", width:"47", height:"34" %><span id="right-bt">如何购买</span>
                    
                <hr class="heng"/>
                
                 <div class="buy-img">
                   <center>
                 <a  href="#"><%=image_tag "buy.png", width:"196", height:88%></a>
                   </center>
                 </div>
                </div>
              </div>
            </div>
            
        <!--右边框框 3 结束--> 
        </div>
        </div>