<%# encoding:utf-8 %>
<!--banner  start   here-->
          <div class="banner-product">
       	  	  <div class="container"><%= image_tag "banner-product.png", width:"950", height:"233" %>
              </div>
          </div>


           <div class="line"></div>
           <div class="line2"></div>
           <div class="news-bg"></div>
           <div class="line"></div>


   		<div class="center-product-bg">
        <div class="container">
        <!--产品目录开始-->
        <hr class="space"/>
        <div class="span-18">
        	<p class="blue-caption">产品目录</p>
        	<hr class="line-bt"/>
               <% @categories.each do |category| %>
                <div class="pro-link"><%= link_to category.name, category %></div>

        		<div class="span-17 speaker">

                    <% children = category.children; children.each_with_index do |sub_category, index| %>
                        <div class="span-4 <%= index == children.size-1 ? 'last': ''%>">
                        <div class="tv <%= index == children.size-1 ? 'last': 'colborder' %>">
                        <%= image_tag sub_category.image_url , width:"134", height:"135" if sub_category.image? %>
                        <p class="lit"><%= link_to sub_category.name, sub_category%></p>
                        </div>
                        </div>
                    <% end %>

                    <hr class="span-<%= 4 * children.size %>"/>
                </div>
              <% end %>

                <!--产品目录结束-->

               <!--杰夫实验开始-->
               <hr class="space"/>
               <p class="blue-caption">测试服务</p>
               <hr class="line-bt"/>
               <div ><p class="product1">测试项目</p></div>
               <div class="span-16">
                		<ul>
                                <li><a href="#">与南京大学声学研究所联合研发之国家专利产品</a></li>
                                <li><a href="#">符合GB、IEC、EIA、DIN、JIS、IHF等多种标准规范</a></li>
                                <li><a href="#">可进行最大噪声功率试验、长期最大功率试验、短期最大功率试验、额定最大正弦功率试验、最优功率标称试验，并可由用户自定义通断时间进</a></li>
                                <li><a href="#">提供各种频段的白噪声信号、粉红噪声信号、模拟节目信号，各种频率的正弦波锯齿波、各种频率和占空比的方波、三角波，以及符合行业标准的信号源</a></li>
                                </ul>
                         <p  class="more-product"><a href="#">more>></a></p>

               </div>
               <!--杰夫实验结束-->
            </div>

        <%=  render "shared/feedback_and_search" %>
          <%=  render "shared/buy" %>

        </div>
        </div>