<%# encoding:utf-8 %>
<!--banner  start   here-->
          <div class="banner-product">
       	  	  <div class="container"><%= image_tag "banner-product.png", width:"950", height:"233" %>
              </div>
          </div>


           <div class="line"></div>
           <div class="line2"></div>
           <div class="news-bg"></div>
           <div class="line"></div>


   		<div class="center-product-bg">
        <div class="container">
        <!--产品目录开始-->
        <hr class="space"/>
        <div class="span-18">
        	<p class="blue-caption">产品目录</p>
        	<hr class="line-bt"/>
               <% @categories.each do |category| %>
                <div class="pro-link"><%= link_to category.name, category %></div>

        		<div class="span-17 speaker">

                    <% children = category.children; children.each_with_index do |sub_category, index| %>
                        <div class="span-4 <%= index == children.size-1 ? 'last': ''%>">
                        <div class="tv <%= index == children.size-1 ? 'last': 'colborder' %>">
                        <%= image_tag sub_category.image_url , width:"134", height:"135" if sub_category.image? %>
                        <p class="lit"><%= link_to sub_category.name, sub_category%></p>
                        </div>
                        </div>
                    <% end %>

                    <hr class="span-<%= 4 * children.size %>"/>
                </div>
              <% end %>

                <!--产品目录结束-->

                         <!--杰夫实验开始-->
                    	 <hr class="space"/>
                         <p class="blue-caption"><%= @test_category.name %></p>
                         <hr class="line-bt"/>
                         <div class="span-17">
                          <div class="span-17 speaker">
                              <% Article.where(:category_id => @test_category).each do |article| %>
                                  <div class="span-4">
                                      <div class="tv colborder">
                                              <%=link_to (image_tag article.default_image, width:"134", height:"135"), article %>
                                              <p class="c"><%=link_to article.name,article%></p>
                                      </div>
                                  </div>
                              <%end%>

                              <hr class="xian"/>
                          </div>
                         </div>
                         <!--杰夫实验结束-->
            </div>

        <%=  render "shared/feedback_and_search" %>
          <%=  render "shared/buy" %>

        </div>
        </div>