<!--产品  start   here-->
           <div class="jianbian">
           <div class="container ">
           <p class="mulu b t-bold size-14">产品目录</p>
           </div>
           </div> 
        
        
           <div class="container">
           <!--产品目录开始-->
           <div class="span-5 xian-ju last">
                <% ProductCategory.where(:parent_id=>nil).each do |category| %>
                    <hr class="lit-line"/>
                    <div class="three-bt"><%=link_to category.name, category %></div>

                <% end %>

                <hr class="lit-line"/>
           </div>
    	   <!--产品开始-->
        		<div class="span-13 speaker last">
                    <p class=" size-14 g t-bold"><%= @product.name%></p>
                        <p class="span-12"><%= @product.body.html_safe  %></p>
                    <div>
                        <% if user_signed_in? %>
                    	  <%= link_to "download", download_product_path(@product) if @product.whitepaper?  %>
                        <% end %>
                    </div>
           </div>

           <%= render "shared/feedback_and_search" %>
           <%= render "shared/buy" %>
        </div>
        </div>
