<!--center start   here-->
	<div class="top-backgound">
           <div class="container">
<!--产品目录开始-->
           <div class="middle-blue-caption right-nav-top"><%= t(other_product_categories.include?(@article_category)? "home.index.other_products" :"layouts.application.event") %></div>
           <div class="span-5 last right-nav-top">
             <% if other_product_categories.include?(@article_category) %>
                 <% other_product_categories.each do |object| %>
                                     <div class="three-caption"><%=link_to object.name, object %></div>
                                     <hr class="nav-list-line"/>
                 <% end %>
             <% else %>
                 <% @support_categories.each do |object| %>
                                                      <div class="three-caption"><%=link_to object.name, object %></div>
                                                      <hr class="nav-list-line"/>
                                  <% end %>
             <% end %>
            </div>

 <!--内容开始-->
        	<div class="span-13 last speaker">
                	<p class="middle-green-caption"><%= @article_category.name %></p>
 					<div class="span-12">
                        <% @articles.each do |article| %>
                            <p><%= link_to article.safe_name, article %></p>
                        <% end %>
                	</div>
                	<hr class="space"/>
                	<hr class="line-last"/>
                	<hr class="space"/>
                	<div class="left">
                    	<p class="nav-ye"><%= paginate @articles %></p>
                    </div>
                	<hr class="space"/>
                	<hr class="space"/>
          	</div>
<!--center end   here-->
              <div class="span-6 last">
        	    <%=  render "shared/feedback_and_search" %>
        	    <%= render "shared/faq" %>
              </div>
        	</div>
    </div>