<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>无锡杰夫电声有限公司</title>
  <%= stylesheet_link_tag "application-all", :media => "all" %>
<%= stylesheet_link_tag "application-print", :media => "print" %>

<!--[if lte IE 8]>
    <%= stylesheet_link_tag "application-ie", :media => "all" %>
<![endif]-->
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



	 <!--header  start  here-->
    	<div class="header">
        <!--logo  start   here-->
          <div class="container">
            <div class="span-3 logo"><%= link_to (image_tag "logo.png"), "/" %></div>
            <div class="prepend-12 span-5 last select-l"><%= form_tag "/", :class => 'locale' do %>
<%= select_tag 'set_locale',
options_for_select(LANGUAGES, I18n.locale.to_s),
:onchange => 'this.form.submit()' %>
<% end %>

    <% if user_signed_in? %>
      <a href="#"><%= current_user.email %></a>
      <%= link_to t(".sign_out"), destroy_user_session_path, :method=>:delete%>
    <% else %>
      <%= link_to t(".sign_up"), new_user_registration_path %>
    <% end %>

  </div><div class="span-4 last select-l">
            <div class="appleNav">
              <%= form_for Article.search, :url => search_articles_path, :html => {:method => :get} do |f| %>
                <%= f.text_field :"#{I18n.locale}_name_or_#{I18n.locale}_body_contains" %><br />
              <% end %>
            </div>
            </div>
            </div>

        </div>
          <!--daohang  start   here-->
          <div class="navz">
      		<div class="container">
                    <div class="dis">
                        <ul class="nav">
                            <li><a href="/"><%= t(".home")%></a></li>
                            <li><%= link_to t(".products"), products_path %></li>
                            <li><%= link_to t(".support"), support_articles_path %></li>
                            <li><%= link_to t(".buy"), buy_articles_path %></li>
                            <li><%= link_to t(".event"),event_articles_path %></a></li>
                            <li><%= link_to t(".about_us"), about_us_articles_path%></li>
                        </ul>
                    </div>
              </div>
          </div>
     <% if notice %><p class="notice"><%= notice %></p> <% end %>
     <% if alert %><p class="alert"><%= alert %></p><% end %>
              <%= yield %>

        <div class="footer">
          <div class="foot-bg">
        	  <div class="container">

            	<div class="span-8"><p class="footer-t"><%= t(".support")%></p>
                <p class="footer-c"><%= link_to t(".search_product_info"), support_articles_path%><br/>
                    <%= link_to t(".online_feedback"), support_articles_path(:anchor=>"feedback")%><br/>
                    <%= link_to t(".faq"), support_articles_path(:anchor=>"faq")%>
                </p>
                </div>

                <div class="span-8"><p class="footer-t"><%= t(".about_us")%></p></p>
                <p class="footer-c">
                    <%= link_to t(".company_profile"), article_path(1)%><br/>
                    <%= link_to t(".operational_information"), article_path(2)%><br/>
                    <%= link_to t(".growup_path"), article_path(3)%><br/>
                    <%= link_to t(".director_words"), article_path(4)%><br/>
                    <%= link_to t(".talent_strategy"), article_path(5)%><br/>
                    <%= link_to t(".working_opportunities"), article_path(6)%>
                </p>
                </div>

                <div class="span-8 last"><p class="footer-t">如何购买</p>
                <p class="footer-c"><a href="#">购买地址与信息</a><br/>
                    <a href="#">代理商信息</a><br/>
                    <a href="#">在线服务</a></p>
                </div>

              </div>
           </div>
        </div>

        <div class="end">
        	<div class="container">
            	<div class="span-24 last beizhu">联系方式丨反馈丨帮助丨网站导航丨条款和条件丨隐私声明丨© 2011 无锡杰夫电声有限公司丨苏ICP备08016514号</div>
            </div>
        </div>


    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>

</body>
</html>
